---
import Layout from '../layouts/Layout.astro';
import AnimationLoader from '../components/AnimationLoader.astro';
import Header from '../components/Header.astro';
import Hero from '../section/Hero.astro';
import SideSocialIcons from '../components/SideSocialIcons.astro';
import About from '../section/About/index.astro';
import Skills from '../section/Skills.astro';
import Works from '../section/Works.astro';
import Contact from '../section/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="KitamuraDev">
  <AnimationLoader />
  <Header />
  <div id="content">
    <main class="content">
      <Hero />
      <SideSocialIcons />
      <About />
      <Skills />
      <Works />
      <Contact />
    </main>
    <Footer />
  </div>
</Layout>

<style lang="scss">
  @import '../scss/main';

  // サイドバー展開時に body に blurクラス を付与
  // body に blurクラス が付いているときに #content 直下のトップレベルの要素に対してブラーエフェクトをかける
  body.blur #content > * {
    filter: blur(5px) brightness(0.7);
    transition: var(--transition);
    pointer-events: none;
    user-select: none;
  }

  .content {
    counter-reset: section 0;
    min-height: 100svh;
    padding: 0 40px;

    @include mq(md) {
      padding: 0 20px;
    }
  }
</style>
