<!-- prettier-ignore -->
<div class="side-social-icons fade-in__icons">
  <ul class="side-social-icons__list">
    <li class="side-social-icons__item">
      <a href="https://github.com/kitamuraDev" class="side-social-icons__link" aria-label="GitHub" target="_blank" rel="noreferrer">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2.61597C10.6868 2.61597 9.38642 2.87462 8.17317 3.37717C6.95991 3.87972 5.85752 4.61631 4.92893 5.5449C3.05357 7.42026 2 9.9638 2 12.616C2 17.036 4.87 20.786 8.84 22.116C9.34 22.196 9.5 21.886 9.5 21.616V19.926C6.73 20.526 6.14 18.586 6.14 18.586C5.68 17.426 5.03 17.116 5.03 17.116C4.12 16.496 5.1 16.516 5.1 16.516C6.1 16.586 6.63 17.546 6.63 17.546C7.5 19.066 8.97 18.616 9.54 18.376C9.63 17.726 9.89 17.286 10.17 17.036C7.95 16.786 5.62 15.926 5.62 12.116C5.62 11.006 6 10.116 6.65 9.40597C6.55 9.15597 6.2 8.11597 6.75 6.76597C6.75 6.76597 7.59 6.49597 9.5 7.78597C10.29 7.56597 11.15 7.45597 12 7.45597C12.85 7.45597 13.71 7.56597 14.5 7.78597C16.41 6.49597 17.25 6.76597 17.25 6.76597C17.8 8.11597 17.45 9.15597 17.35 9.40597C18 10.116 18.38 11.006 18.38 12.116C18.38 15.936 16.04 16.776 13.81 17.026C14.17 17.336 14.5 17.946 14.5 18.876V21.616C14.5 21.886 14.66 22.206 15.17 22.116C19.14 20.776 22 17.036 22 12.616C22 11.3027 21.7413 10.0024 21.2388 8.78913C20.7362 7.57588 19.9997 6.47348 19.0711 5.5449C18.1425 4.61631 17.0401 3.87972 15.8268 3.37717C14.6136 2.87462 13.3132 2.61597 12 2.61597Z" fill="currentColor"></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://facebook.com" class="side-social-icons__link" aria-label="Facebook" target="_blank" rel="noreferrer">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22 12.616C22 7.09597 17.52 2.61597 12 2.61597C6.48 2.61597 2 7.09597 2 12.616C2 17.456 5.44 21.486 10 22.416V15.616H8V12.616H10V10.116C10 8.18597 11.57 6.61597 13.5 6.61597H16V9.61597H14C13.45 9.61597 13 10.066 13 10.616V12.616H16V15.616H13V22.566C18.05 22.066 22 17.806 22 12.616Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://instagram.com" class="side-social-icons__link" aria-label="Instagram" target="_blank" rel="noreferrer">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.8 2.61597H16.2C19.4 2.61597 22 5.21597 22 8.41597V16.816C22 18.3542 21.3889 19.8295 20.3012 20.9172C19.2135 22.0049 17.7383 22.616 16.2 22.616H7.8C4.6 22.616 2 20.016 2 16.816V8.41597C2 6.87771 2.61107 5.40246 3.69878 4.31475C4.78649 3.22704 6.26174 2.61597 7.8 2.61597ZM7.6 4.61597C6.64522 4.61597 5.72955 4.99525 5.05442 5.67038C4.37928 6.34551 4 7.26119 4 8.21597V17.016C4 19.006 5.61 20.616 7.6 20.616H16.4C17.3548 20.616 18.2705 20.2367 18.9456 19.5616C19.6207 18.8864 20 17.9707 20 17.016V8.21597C20 6.22597 18.39 4.61597 16.4 4.61597H7.6ZM17.25 6.11597C17.5815 6.11597 17.8995 6.24766 18.1339 6.48208C18.3683 6.7165 18.5 7.03445 18.5 7.36597C18.5 7.69749 18.3683 8.01543 18.1339 8.24985C17.8995 8.48427 17.5815 8.61597 17.25 8.61597C16.9185 8.61597 16.6005 8.48427 16.3661 8.24985C16.1317 8.01543 16 7.69749 16 7.36597C16 7.03445 16.1317 6.7165 16.3661 6.48208C16.6005 6.24766 16.9185 6.11597 17.25 6.11597ZM12 7.61597C13.3261 7.61597 14.5979 8.14275 15.5355 9.08043C16.4732 10.0181 17 11.2899 17 12.616C17 13.942 16.4732 15.2138 15.5355 16.1515C14.5979 17.0892 13.3261 17.616 12 17.616C10.6739 17.616 9.40215 17.0892 8.46447 16.1515C7.52678 15.2138 7 13.942 7 12.616C7 11.2899 7.52678 10.0181 8.46447 9.08043C9.40215 8.14275 10.6739 7.61597 12 7.61597ZM12 9.61597C11.2043 9.61597 10.4413 9.93204 9.87868 10.4946C9.31607 11.0573 9 11.8203 9 12.616C9 13.4116 9.31607 14.1747 9.87868 14.7373C10.4413 15.2999 11.2043 15.616 12 15.616C12.7956 15.616 13.5587 15.2999 14.1213 14.7373C14.6839 14.1747 15 13.4116 15 12.616C15 11.8203 14.6839 11.0573 14.1213 10.4946C13.5587 9.93204 12.7956 9.61597 12 9.61597Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com" class="side-social-icons__link" aria-label="Linkedin" target="_blank" rel="noreferrer">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 3.61597C19.5304 3.61597 20.0391 3.82668 20.4142 4.20175C20.7893 4.57683 21 5.08553 21 5.61597V19.616C21 20.1464 20.7893 20.6551 20.4142 21.0302C20.0391 21.4053 19.5304 21.616 19 21.616H5C4.46957 21.616 3.96086 21.4053 3.58579 21.0302C3.21071 20.6551 3 20.1464 3 19.616V5.61597C3 5.08553 3.21071 4.57683 3.58579 4.20175C3.96086 3.82668 4.46957 3.61597 5 3.61597H19ZM18.5 19.116V13.816C18.5 12.9514 18.1565 12.1222 17.5452 11.5108C16.9338 10.8994 16.1046 10.556 15.24 10.556C14.39 10.556 13.4 11.076 12.92 11.856V10.746H10.13V19.116H12.92V14.186C12.92 13.416 13.54 12.786 14.31 12.786C14.6813 12.786 15.0374 12.9335 15.2999 13.196C15.5625 13.4586 15.71 13.8147 15.71 14.186V19.116H18.5ZM6.88 9.17597C7.32556 9.17597 7.75288 8.99897 8.06794 8.68391C8.383 8.36885 8.56 7.94153 8.56 7.49597C8.56 6.56597 7.81 5.80597 6.88 5.80597C6.43178 5.80597 6.00193 5.98402 5.68499 6.30096C5.36805 6.61789 5.19 7.04775 5.19 7.49597C5.19 8.42597 5.95 9.17597 6.88 9.17597ZM8.27 19.116V10.746H5.5V19.116H8.27Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://twitter.com" class="side-social-icons__link" aria-label="Twitter" target="_blank" rel="noreferrer">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M22.46 6.61597C21.69 6.96597 20.86 7.19597 20 7.30597C20.88 6.77597 21.56 5.93597 21.88 4.92597C21.05 5.42597 20.13 5.77597 19.16 5.97597C18.37 5.11597 17.26 4.61597 16 4.61597C13.65 4.61597 11.73 6.53597 11.73 8.90597C11.73 9.24597 11.77 9.57597 11.84 9.88597C8.27998 9.70597 5.10998 7.99597 2.99998 5.40597C2.62998 6.03597 2.41998 6.77597 2.41998 7.55597C2.41998 9.04597 3.16998 10.366 4.32998 11.116C3.61998 11.116 2.95998 10.916 2.37998 10.616V10.646C2.37998 12.726 3.85998 14.466 5.81998 14.856C5.19071 15.0282 4.53007 15.0521 3.88998 14.926C4.16158 15.7784 4.69351 16.5244 5.41099 17.0589C6.12847 17.5934 6.99543 17.8897 7.88998 17.906C6.37361 19.1064 4.49397 19.7553 2.55998 19.746C2.21998 19.746 1.87998 19.726 1.53998 19.686C3.43998 20.906 5.69998 21.616 8.11998 21.616C16 21.616 20.33 15.076 20.33 9.40597C20.33 9.21597 20.33 9.03597 20.32 8.84597C21.16 8.24597 21.88 7.48597 22.46 6.61597Z" fill="currentColor"/>
        </svg>
      </a>
    </li>
  </ul>
</div>

<style lang="scss">
  @import '../scss/main';

  .side-social-icons {
    position: fixed;
    bottom: 0px;
    right: 80px;
    z-index: 10;

    @include mq(lg) {
      display: none;
    }
  }

  .side-social-icons__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
  }
  .side-social-icons__list::after {
    content: '';
    display: block;
    width: 1px;
    height: 120px;
    background-color: var(--color-basetext);
  }

  .side-social-icons__link {
    display: inline-block;
    padding: 10px;
    transition: var(--transition);
    color: var(--color-basetext);

    @include hover() {
      &:hover {
        transform: translateY(-3px);
        color: var(--color-primary);
      }
    }
  }
</style>

<script>
  import gsap from 'gsap';

  gsap.from('.fade-in__icons', {
    opacity: 0,
    duration: 1,
    delay: 4.15,
    ease: 'power2.inOut',
  });
</script>
